@model List<ResultAboutDto>

    @foreach (var item in Model)
{
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Hakkımızda<br></h2>
            <p><span>Neler Yapıyoruz?</span> <span class="description-title">Biz Kimiz?</span></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                    <img src="@item.ImageUrl" class="img-fluid mb-4" alt="">
                    <div class="book-a-table">
                        <h3>Rezervasyon Yapın</h3>
                        <p>@item.ReservationNumber</p>
                    </div>
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                    <div class="content ps-0 ps-lg-5">
                        <p>
                            @item.Description
                        </p>

                        <div class="position-relative mt-4">
                            <img src="@item.VideoCoverImageUrl" class="img-fluid" alt="">
                            <a href="@item.VideoUrl" class="glightbox pulsating-play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
}
